<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <header>
        {% block navbar %}
            {% include 'navbar.html.twig' %}
        {% endblock %}
    </header>
    <h1>{{ website }}</h1>
    {{ encore_entry_script_tags('app') }}
</body>
</html>
